.book-info {
  display: flex;
  width: 60vw;
  margin: 2%;
  .book-info-img {
    height: 120px;
    width: 180px;
  }
  .book-info-text {
    margin: 0 2%;
    .book-info-title {
      font-weight: bold;
    }
    .book-info-description {
      text-align: justify;
    }
  }
}
