.div-btn-form {
  margin: 5%;
  .btn-form {
    border: none;
    padding: 5px;
    width: 100px;
    background: none;

    .span-btn-form {
      padding: 5px;
      width: 100%;
      background: #fff;
      border-radius: 5px;
      font-weight: bold;
      font-size: 18px;
    }
  }
}
