$bg: #1e3e44;

.div-comment-create {
  width: 50vw;
  margin: 3%;
  @media screen and (max-width: 576px) {
    width: 80vw;
    margin: 10px;
  }
  #message-textarea {
    width: 100%;
    border-radius: 5px;
  }
  #select-comment-create {
    height: 25px;
    border-radius: 5px;
    background: #fff;
    font-size: 16px;
    .option-comment-create {
      font-size: 16px;
    }
  }
  #btn-comment-create {
    background: $bg;
    line-height: 20px;
    color: #fff;
    border-radius: 5px;
    padding: 5px;
    &:hover {
      background: lighten($color: $bg, $amount: 10);
      cursor: pointer;
    }
  }
}
