$dark-gray: #47464c;
$lighter-gray: #3f4f4f;
$black: #000707;
$card-bg: #fff;
$bg: #6e3999;
$bg-2: #f2d2ce;

.card-form-signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 150vh;
  background-image: linear-gradient($bg, $bg-2);
  @media screen and (max-width: 768px) {
    height: 100vh;
  }
  .box-form-signup {
    border: 0.5px solid gray;
    background: $card-bg;
    border-radius: 5px;
    width: 50vw;
    margin: 5%;
    @media screen and (max-width: 576px) {
      width: 80vw;
      margin: 5px;
    }
    @media screen and (min-width: 576px) and (max-width: 770px) {
      margin: 5px 10px;
      width: 60vw;
    }

    #form-signup {
      .div-input-signup {
        max-width: 100%;
        margin: 5%;
        padding: 2%;

        .input-signup {
          line-height: 26px;
          border-radius: 10px;
          margin: 2%;
          width: 100%;
        }
      }
    }
  }
}
